<div class="ui container">
  <div class="ui header">
    <h1>DevMatch Community</h1>
    <p>Welcome to the DevMatch community. Users must fill out their profile in order to be visible in the community</p>
  </div>
  
  <div class="ui centered cards">
    <% @users.each do |user| %>
      <% if user.profile %>
        <div class="ui card">
          <div class="image">
            <%= image_tag user.profile.avatar.url %>
          </div>
          <div class="center aligned content">
            <span class="header"><%= user.profile.first_name %> <%= user.profile.last_name %></span>
            <%= user.profile.job_title %><br>
            <% if user.plan_id == 2 %>
              <div class="ui yellow label">PRO</div>
            <% else %>
              <div class="ui label">BASIC</div>
            <% end %>
          </div>
          <div class="center aligned content">
            <%= link_to "View Profile", user_path(id: user.id) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>