<div class="hero">
  <div class="ui text container center">
    <h1 class="header inverted">Welcome to DevMatch</h1>
    <h3>An online community where entrepreneurs, investors and developers can meet</h3>
  </div>
</div>
<div class="main">
  <div class="ui container">
    <% if user_signed_in? %>
      <div class="ui two column grid">
        <div class="ui column">
          <h2>Your Profile</h2>
          <% if current_user.profile %>
            <%= link_to "Edit your profile", edit_user_profile_path( user_id: current_user.id ), class: "ui button large" %>
            <%= link_to "View your profile", user_path( id: current_user.id ), class: "ui button large" %>
          <% else %>
            <p>Create your profile so you can share your information with the community</p>
            <%= link_to "Create your profile", new_user_profile_path( user_id: current_user.id ), class: "fluid ui button large" %>
          <% end %>
        </div>
        <div class="ui column">
          <h2>The Community</h2>
          <p>Visit the community to meet developers, entrepreneurs and investors</p>
          <%= link_to "Visit the community", users_path, class: "fluid ui button large" %>
        </div>
      </div>
    <% else %>
      <div class="ui two column grid">
        <div class="column">
          <div class="ui raised segment">
            <div class="ui ribbon primary label">Basic</div>
            <span>free</span>
            <p>Sign up for free and get basic access to the community.</p>
            <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: "fluid ui button primary large" %>
          </div>
        </div>
        <div class="column">
          <div class="ui raised segment">
            <div class="ui ribbon yellow label">Pro</div>
            <span>$10 per month</span>
            <p>Sign up for the Pro account for $10/month and get access to the community and contact information.</p>
            <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: "fluid ui button positive large" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>