<div class="ui container">
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui form">
        <h2 class="ui dividing header">Contact Us</h2>
        <%= form_for @contact do |f| %>
          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
  
          <div class="field">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
  
          <div class="field">  
            <%= f.label :comments %>
            <%= f.text_area :comments %>
          </div>
  
          <%= f.submit "Submit", class: "ui button primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>