<div class="top">
  <div class="ui container">
    <div class="ui secondary inverted stackable menu">
      <%= link_to root_path, class: "header item" do %>
        <i class="users icon"></i>
        DevMatch
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "Community", users_path, class: "item" %>
      <% end %>
      <%= link_to "About", about_path, class: "item" %>
      <%= link_to "Contact Us", new_contact_path, class: "item" %>
      <div class="right menu">
        <% if user_signed_in? %>
          <%= link_to "My Account", edit_user_registration_path, class: "item" %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "ui inverted button white" %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class: "ui inverted button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>